
.item-image {
   display: flex;
   align-items: center;
   img {
      background-image: url('/Equipment/ItemSlotEmpty.png');
      background-repeat: no-repeat;
      background-size: 36px 36px;
      height: 36px;
      width: 36px;
      padding: 3px;
   }
}

.default-image {
   display: flex;
   align-items: center;
   img {
      margin: 0;
      height: 36px;
      width: 36px;
   }
}