@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");
.first-row-container {
  background-color: #272727;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 3px;
          box-shadow: 0px 3px;
}

.first-row-container h1 {
  color: white;
}

.r2-first-column {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  background-color: #272727;
  border-radius: 10px;
  border: 2px solid black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45% 55%;
      grid-template-columns: 45% 55%;
  -ms-grid-rows: 15% 20% 65%;
      grid-template-rows: 15% 20% 65%;
}

.r2-c1-header {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.r2-c1-lvlInputs {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(50%, 100px) minmax(50%, 100px);
      grid-template-columns: minmax(50%, 100px) minmax(50%, 100px);
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
  gap: 7% 2%;
  margin: 0 15% 0 7%;
}

.lvlInput-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100px;
}

.lvlInput-item img {
  height: 23px;
  width: 22px;
  margin: 0 4% 0 0;
  z-index: 2;
}

.lvlInput-item input[type=number] {
  width: 45px;
  padding-left: 5px;
  border: 1px solid black;
  border-radius: 4px;
  outline: none;
}

.lvlInput-item-hover {
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  width: auto;
  padding: 0 2px 0 2px;
  border-radius: 4px;
  margin: 0 0px 40px 0;
}

.r2-c1-prayers {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  width: 100%;
  height: 100%;
  background-image: url("/Prayers/emptyPrayerContainer.png");
  background-repeat: no-repeat;
  background-size: 204px 275px;
  background-position: center center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (47px)[4];
      grid-template-columns: repeat(4, 47px);
  -ms-grid-rows: (67px)[4];
      grid-template-rows: repeat(4, 67px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.prayer-item-on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("/Misc/emptyCircle.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px 40px;
}

.prayer-item-on input[type=image]:focus {
  outline: none;
}

.prayer-item-off {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prayer-item-off input[type=image]:focus {
  outline: none;
}

.prayer-item-hover {
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  width: auto;
  padding: 0 2px 0 2px;
  border-radius: 4px;
  margin: 0 0px 45px 0;
}

.r2-c1-potions {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -ms-grid;
  display: grid;
  margin: 5% 10% 10% 5%;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  -ms-grid-rows: 25% 25% 25% 25%;
      grid-template-rows: 25% 25% 25% 25%;
}

.potion-selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.potion-selected input[type=image]:focus {
  outline: none;
}

.potion-unselected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 40%;
}

.potion-unselected input[type=image]:focus {
  outline: none;
}

.potion-item-hover {
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  width: auto;
  padding: 0 2px 0 2px;
  border-radius: 4px;
  margin: 0 5px 50px 0;
}

.toggle-control {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.toggle-control input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.toggle-control input:checked ~ .control {
  background-color: #e638ec;
}

.toggle-control input:checked ~ .control:after {
  left: 23px;
}

.toggle-control .control {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 40px;
  border-radius: 10px;
  background-color: darkgray;
  -webkit-transition: background-color 0.15s ease-in;
  transition: background-color 0.15s ease-in;
}

.toggle-control .control:after {
  content: "";
  position: absolute;
  left: 3px;
  top: 3px;
  width: 14px;
  height: 14px;
  border-radius: 10px;
  background: white;
  -webkit-transition: left 0.15s ease-in;
  transition: left 0.15s ease-in;
}

/* Center the control */
.r2-second-column {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -ms-grid;
  display: grid;
  background-color: #272727;
  border-radius: 10px;
  border: 2px solid black;
  -ms-grid-columns: 85% 15%;
      grid-template-columns: 85% 15%;
  -ms-grid-rows: 15% 70% 15%;
      grid-template-rows: 15% 70% 15%;
}

.r2-c2-header {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.r2-c2-stats {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  background-image: url("/Misc/background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  margin: 0% 5% 2% 5%;
  border: 2px solid black;
  border-radius: 10px;
}

.r2-c2-stats table {
  width: 100%;
  height: 100%;
  border-spacing: 0;
}

.r2-c2-stats table th {
  min-width: 115px;
  width: 25%;
  color: white;
  font-size: 1.1em;
  font-weight: normal;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.r2-c2-stats table td {
  color: white;
  border-bottom: 1px solid black;
  width: 37.5%;
  text-align: center;
}

.r2-c2-stats table h3 {
  color: #ec8bec;
}

.r2-c2-monster-container {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  margin: 0 25% 0% 25%;
  width: 50%;
}

.r2-c2-utilities-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(30px, 100%);
      grid-template-columns: minmax(30px, 100%);
  -ms-grid-rows: (minmax(50px, 25%))[4];
      grid-template-rows: repeat(4, minmax(50px, 25%));
  margin: 0 10% 0 -35%;
}

.slayer-toggle-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20% 0 20%;
}

.slayer-toggle-container img {
  height: 30px;
  width: 30px;
}

.special-toggle-container {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20% 0 20%;
}

.dwh-spec-container {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20% 0 20%;
}

.dwh-spec-container input[type=number] {
  width: 45px;
  padding-left: 5px;
  border: 1px solid black;
  border-radius: 4px;
  outline: none;
}

.bgs-spec-container {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20% 0 20%;
}

.bgs-spec-container input[type=number] {
  width: 45px;
  padding-left: 5px;
  border: 1px solid black;
  border-radius: 4px;
  outline: none;
}

.utility-hover {
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  width: auto;
  padding: 0 2px 0 2px;
  border-radius: 4px;
  margin: 0 0px 50px 0;
}

.r3-first-column {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #272727;
}

.r3-second-column {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #272727;
}

.r3-equipment-container-melee {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(27.5%, 27.5%) (minmax(15%, 15%))[3] minmax(27.5%, 27.5%);
      grid-template-columns: minmax(27.5%, 27.5%) repeat(3, minmax(15%, 15%)) minmax(27.5%, 27.5%);
  -ms-grid-rows: (minmax(50px, 20%))[5];
      grid-template-rows: repeat(5, minmax(50px, 20%));
  background-image: url("/Misc/attackBackground40.png");
  background-size: 756px 650px;
  background-position: center center;
  background-repeat: no-repeat;
}

.r3-equipment-container-range {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(27.5%, 27.5%) (minmax(15%, 15%))[3] minmax(27.5%, 27.5%);
      grid-template-columns: minmax(27.5%, 27.5%) repeat(3, minmax(15%, 15%)) minmax(27.5%, 27.5%);
  -ms-grid-rows: (minmax(50px, 20%))[5];
      grid-template-rows: repeat(5, minmax(50px, 20%));
  background-image: url("/Misc/rangeBackground40.png");
  background-size: 756px 650px;
  background-position: center center;
  background-repeat: no-repeat;
}

.r3-equipment-container-magic {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(27.5%, 27.5%) (minmax(15%, 15%))[3] minmax(27.5%, 27.5%);
      grid-template-columns: minmax(27.5%, 27.5%) repeat(3, minmax(15%, 15%)) minmax(27.5%, 27.5%);
  -ms-grid-rows: (minmax(50px, 20%))[5];
      grid-template-rows: repeat(5, minmax(50px, 20%));
  background-image: url("/Misc/magicBackground40.png");
  background-size: 756px 650px;
  background-position: center center;
  background-repeat: no-repeat;
}

.r3-c1-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 260px;
}

.r3-c2-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 265px;
}

.item-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-image img {
  background-image: url("/Equipment/ItemSlotEmpty.png");
  background-repeat: no-repeat;
  background-size: 36px 36px;
  height: 36px;
  width: 36px;
  padding: 3px;
}

.default-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.default-image img {
  margin: 0;
  height: 36px;
  width: 36px;
}

.equipment-item-hover {
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  width: auto;
  padding: 2px;
  border-radius: 4px;
  margin-left: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.attack-style-hover {
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  width: auto;
  padding: 2px;
  border-radius: 4px;
  margin-bottom: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.style-slot {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20%;
  margin-left: 35%;
}

.spell-slot {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20%;
  margin-left: 35%;
}

.weapon-slot {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20%;
}

.ammo-slot {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20%;
  margin-left: 0%;
}

.body-slot {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20%;
}

.boot-slot {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20%;
}

.cape-slot {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20%;
  margin-left: 40%;
}

.glove-slot {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20%;
}

.helm-slot {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20%;
}

.leg-slot {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20%;
}

.neck-slot {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20%;
}

.ring-slot {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20%;
}

.shield-slot {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20%;
}

.r3-equipment-stats {
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  grid-row: 1/6;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0% 0 10%;
}

.r3-equipment-stats h3, .r3-equipment-stats h4 {
  padding-top: 1px;
}

.r3-equipment-stats h4 {
  margin-left: 7%;
}

@-webkit-keyframes buttonClick {
  from {
    width: 30px;
    height: 30px;
  }
  to {
    width: 36px;
    height: 36px;
  }
}

@keyframes buttonClick {
  from {
    width: 30px;
    height: 30px;
  }
  to {
    width: 36px;
    height: 36px;
  }
}

.r3-title-buttons-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 5% 0 5% 0;
  margin: 0 10% 10% 0;
}

.r3-buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20% 0 20%;
  height: 32px;
}

.r3-buttons-container input[type=image] {
  height: 32px;
  width: 32px;
}

.r3-buttons-container input[type=image]:focus {
  outline: none;
  -webkit-animation-name: buttonClick;
          animation-name: buttonClick;
  -webkit-animation-duration: .1s;
          animation-duration: .1s;
}

.utility-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.utility-buttons-hover {
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  width: auto;
  padding: 0 2px 0 2px;
  border-radius: 4px;
  margin: 0 0px -55px 0;
}

.dropdown-container {
  border: none;
  min-height: 30px;
}

.dropdown-container input {
  background-image: url("/Misc/dropdown.png");
  background-repeat: no-repeat;
  background-size: 13px 10px;
  background-position: 95% 50%;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 100%;
  padding-left: 5%;
  font-size: 1em;
}

.dropdown-container input:focus {
  outline: none;
}

.dropdown-options-container {
  height: auto;
  max-height: 200px;
  width: 100%;
  min-width: 100px;
  overflow: auto;
  background: white;
}

.dropdown-options {
  padding-left: 5%;
}

.dropdown-options:hover {
  background: rgba(80, 74, 74, 0.301);
}

.dropdown-item-container {
  min-height: 36px;
}

.dropdown-item-container input {
  background-image: url("/Misc/dropdown.png");
  background-repeat: no-repeat;
  background-size: 13px 10px;
  background-position: center center;
  border: none;
  border-radius: 5px;
  height: 36px;
  width: 20px;
  padding-left: 20px;
  font-size: 1em;
}

.dropdown-item-container input:focus {
  outline: none;
  width: 100%;
  background-image: none;
  z-index: 2;
  position: relative;
}

.dropdown-item-options-container {
  height: auto;
  max-height: 200px;
  min-width: 200px;
  overflow: auto;
  background: white;
  position: relative;
  z-index: 3;
}

.dropdown-item-options {
  padding-left: 5%;
  font-size: 0.9em;
  width: 100%;
}

.dropdown-item-options:hover {
  background: rgba(80, 74, 74, 0.301);
}

.dropdown-bottom {
  height: 1px;
}

.toggle-control {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.toggle-control input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.toggle-control input:checked ~ .control {
  background-color: #e638ec;
}

.toggle-control input:checked ~ .control:after {
  left: 23px;
}

.toggle-control .control {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 40px;
  border-radius: 10px;
  background-color: darkgray;
  -webkit-transition: background-color 0.15s ease-in;
  transition: background-color 0.15s ease-in;
}

.toggle-control .control:after {
  content: "";
  position: absolute;
  left: 3px;
  top: 3px;
  width: 14px;
  height: 14px;
  border-radius: 10px;
  background: white;
  -webkit-transition: left 0.15s ease-in;
  transition: left 0.15s ease-in;
}

/* Center the control */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}

body {
  height: 100%;
  background-color: #121212;
  background-size: cover;
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 1.5em;
  font-weight: normal;
  color: white;
}

h3 {
  font-size: 1.1em;
  font-weight: normal;
  color: white;
}

h4 {
  font-size: 0.9em;
  font-weight: normal;
  color: white;
}

h5 {
  font-size: 0.8em;
  font-weight: normal;
  color: black;
}

h6 {
  font-size: 0.7em;
  font-weight: normal;
  color: black;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(80px, 10vh) minmax(420px, 45vh) minmax(420px, 45vh);
      grid-template-rows: minmax(80px, 10vh) minmax(420px, 45vh) minmax(420px, 45vh);
  -ms-grid-columns: (minmax(750px, 50%))[2];
      grid-template-columns: repeat(2, minmax(750px, 50%));
  gap: 2% 0px;
}

.r2-container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  margin: 0 10vw 0 10vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(400px, 100%);
      grid-template-rows: minmax(400px, 100%);
  -ms-grid-columns: minmax(500px, 40%) minmax(500px, 60%);
      grid-template-columns: minmax(500px, 40%) minmax(500px, 60%);
  grid-gap: 0 1%;
}

.r3-container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  margin: 0 10vw 0 10vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(400px, 100%);
      grid-template-rows: minmax(400px, 100%);
  -ms-grid-columns: minmax(600px, 50%) minmax(600px, 50%);
      grid-template-columns: minmax(600px, 50%) minmax(600px, 50%);
  grid-gap: 0 1%;
}
/*# sourceMappingURL=styles.css.map */